.header {
  -fx-padding: 20;
  -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #007 0%, #00d 100%);
  -fx-text-fill: white;
}

.header .title {
  -fx-font: 18pt "Corbel";
}

.header .tag-line {
  -fx-font: 12pt "Corbel";
}

.body {
  -fx-padding: 20;
}

.table-view .column-header{
  -fx-font-size: 14;
}

.table-cell {
  -fx-font-size: 12px;
}

.combo-box {
  -fx-font-size: 12px;
}

.date-picker {
  -fx-font-size: 12px;
}
